html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Poppins';
}

/*CONTAINER*/
.wrapper{
    max-width: 1200px;
    margin: 0 auto; /*will center automatic*/
}
/*CONTAINER*/


/*HEADER = Logo & Navigations*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

            /*Use "rem" for fonts & "em" for other stuffs*/
nav{
    margin: 4em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

        /*Underline design when hovered*/
nav ul li a.active:before{
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}


        /*Underline design when hovered*/

/*Microinteractions Effect  in Navigation*/
nav ul li a:before{
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(122, 122, 122);
    bottom: -6px;
    transition:  width .3s;

}
/*Microinteractions Effect  in Navigation*/


/*HEADER*/


/*LEFT IMAGE & RIGHT IMAGE CONTAINER*/
main{
    display: flex;
    gap: 8em;
    margin-top: 11em;
}
/*LEFT IMAGE & RIGHT IMAGE CONTAINER*/


/*LEFT IMAGE*/
.left-col {
    width: 45%;
}

    /*Quality apparel without the price tag*/
h1{
    font-size: 5.2rem;   
    font-family: 'playfair display';
    font-weight: normal;
    margin: 0;
}

    /*No need to spend $xxx on apparel just for the name's sake. Our premium apparel is made from the same stuff.*/
.subhead{
    font-size: 1.8rem;
}
    /*No need to spend $xxx on apparel just for the name's sake. Our premium apparel is made from the same stuff.*/




    /*"Browse our collection" & "Spring '23 Collection" container*/
.cta-btns, .secondary-cta{
    display: flex;
    gap: 2em;
}

.cta-btns{
    margin: 5em 0;
}
    /*"Browse our collection" & "Spring '23 Collection" container*/


    /*Browse our collection*/
.primary-cta{
    background-color: #f1e2d1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em; /*mag adjust sang sulod ka container/ mgpa center ka text*/
}
    /*Browse our collection*/


    /*Spring '23 Collection & --> */
.secondary-cta{
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block; /*nd mag nag ang text / ma 1 line lg*/
    padding: 1em 0;
    align-items: center;
  
}
    /*Spring '23 Collection & --> */

    /*SVG*/
.secondary-cta svg{
    width: 20px;
    transition: transform .3s;
}
    /*SVG*/


/*50K News & We’re proud to announce that we now CONTAINER*/
.news{
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
}
/*50K News & We’re proud to announce that we now CONTAINER*/

/*confetti*/
.news:before{
    position: absolute;
    content: "";
    background: url('../Images/confetti.svg');
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}
/*confetti*/

/*50K*/
p.employees{
    font-size: 3.3rem;
    margin: 0;
    font-weight: 400;
    line-height: 100%;
}
/*50K*/

/*We’re proud to announce that we now */
p.details{
    font-size: 1.4rem;
    margin: 0;
}
/*We’re proud to announce that we now */


/*50K News & We’re proud to announce that we now CONTAINER*/

/*LEFT IMAGE*/

/*RIGHT IMAGE*/
.right-col {
    flex-grow: 1; /*extends width of remaining percentage of 45%*/
}

.right-col{
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        "left right"
        "left bottom";
}

.card{
    border-radius: .8em;
    background-color: red;
    padding: 1.1em;
    display: flex; /*gin gamit para ma use ang align-items*/
    align-items: end;
    background-size: 150%;
    transition: background-size 800ms;
 }


.card1{
    grid-area: left;
    background-image: url('../Images/clothing1.jpg');
    position: relative;
}

/*tag svg*/
.card1:before {
    position: absolute;
    content: "";
    background: url('../Images/tag.svg') no-repeat;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -30px;
    pointer-events: none;
}

/*tag svg*/

.card2{
    grid-area: right;
    background-image: url('../Images/clothing2.jpg');

}

.card3{
    grid-area: bottom;
    background-image: url('../Images/clothing3.jpg');

}

.card-details{
    background: white;
    border-radius: .6em;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 800ms;
}

.card-details a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.card-details p{
    font-size: 1.4rem;
    margin: 0;
}

.product-price {
    font-size: 1.8rem;
}


/*RIGHT IMAGE*/

/*Microinteractions Effect  in Navigation*/
nav ul li a:hover:before{
    width: 35%;
}

/*Microinteractions Effect  in Navigation*/

/*Microinteractions Effect  in Browse Collection*/
.primary-cta:hover{
    background: #e2d1bd;
}

/*Microinteractions Effect  in Browse Collection*/


/*Microinteractions Effect  in Spring 23 Collection*/
.secondary-cta:hover svg{
    transform: translateX(10px);
}

.secondary-cta:hover {
    text-decoration: underline;
}
/*Microinteractions Effect  in Spring 23 Collection*/

/*Card1 Animation*/
.card:hover{
    background-size: 160%;
}

.card:hover .card-details{
    transform: translateY(-20px);
}

/*Card1 Animation*/

/*Intro Animation*/
.overlay{
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}

main{
    animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

@keyframes growIn{
    to{
        transform: scale(1);
    }
}
/*Intro Animation*/